<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="USER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>idUsuario</key>
            <defaultValue>usuario</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${idUsuario}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>D:\\log\\${idUsuario}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <!--
                    <pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
                    -->
                    <pattern>%d %level %logger{50} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="br.com.siemens.configmodule.controller" level="INFO">
        <appender-ref ref="USER" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>